body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  width: 15rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
.m-r-5{
margin-right: 5px
}
.m-t-md{
  margin-top: 5px
}
.list-group{
  position: fixed;
  overflow-y: scroll;
  top: 50px;
  bottom: 50px;
}
.list-group-item{
  border: 1px solid rgba(0,0,0,.125) !important;
  color: inherit !important;
  border-top: 0;
  border-left: 2px solid #1d2124;
  border-right: 0;
  border-bottom: 0
}


.list-group-item.active{
  color: inherit !important;
  border-left: 4px solid #1d2124 !important;
  color:white !important;
  border-right: 2px solid #1d2124;
  background-color: #1d2124 !important;
}
.pull-right{
  float: right;
}
.w-b-bw{
word-break: break-word;
}

.addbuckt{
  position: absolute;
  left:    50px;
  bottom:   10px;
  color:white !important;
}

.loader{
  position: fixed;
   top: 50%;
   left: 55%;
   transform: translate(-50%, -50%);
   transform: -webkit-translate(-50%, -50%);
   transform: -moz-translate(-50%, -50%);
   transform: -ms-translate(-50%, -50%);
   color:darkred;
}
